[submodule "docker-console-config"]
	path = docker-console-config
	url = https://github.com/francescomuia/docker-console-config.git
[submodule "docker-console-boms"]
	path = docker-console-boms
	url = https://github.com/francescomuia/docker-console-boms.git
[submodule "docker-console-config-server"]
	path = docker-console-config-server
	url = https://github.com/francescomuia/docker-console-config-server.git
